<html>
    <head>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


    </head>
    <body>
        <div id="root"></div>
        <script type="text/babel">
       const Opener = ({title, description}) => {
      //adds my title and description of me to my page
      return (<div>
                <h2>{title}</h2>
                <p>{description}</p>
                </div>)
    }

    //adds the list of animals from my database
    const List = (props, show) =>{
        console.log(props)
        let items_list = props.items.map((item) =>{
            return <li onClick={props.clickHandler} key={item._id} id={item._id}>{item.name}</li>
        });
        return(
            <div>
                <h2>List of Animals</h2>
                <ul>
                    {items_list}
                </ul>
                </div>
            );
    }

    //shows the details of the animals from my database using an onclick event
    const Detail = (props) =>{
      return(
      <span>
            <h3>Animal Details:</h3>
            <form>
              <input type="text" name="animal" onChange={props.change} placeholder="animal" value={props.item.animal || ""} /><p/>
              <input type="text" name="name" onChange={props.change} placeholder="name" value={props.item.name || ""} /><p/>
              <input type="text" name="age" onChange={props.change} placeholder="age" value={props.item.age || ""} />
              <p/>
            </form>
            <button onClick={props.save}>Save</button>  <button onClick={props.reset}>Reset</button> <button onClick={props.delete}>Delete</button>
          </span>
        );
    }
    //pulls the animals from the database for use and sets up an onclick event called showDetails
    class MyAnimals extends React.Component {
      constructor(props){
        super(props);
        // data from server 
        this.state = {
          items: {{{animals}}},
          curItem: {}
        };
        this.showDetails = this.showDetails.bind(this);
        this.onChange = this.onChange.bind(this);
        this.onSave = this.onSave.bind(this);
        this.onDelete = this.onDelete.bind(this);
        this.onClear = this.onClear.bind(this);
    }

        showDetails(event){
        let showItem =this.state.items.find((item) =>{
            return item._id ==event.target.id;
        });
        this.setState({curItem: showItem});
      }

      onClear() {
        this.setState({curItem: {}});
      }
      // handle detail changes
      onChange(event) {
        var newItem = this.state.curItem;
        newItem[event.target.name] = event.target.value
        this.setState({curItem: newItem});
      }

      //handles the save functionality.  Currently have a bug where it will allow duplicates
      onSave(){
        let newAnimal =this.state.curItem;
        if(!newAnimal.name){
          return;
        }
        //fetchs the API page that links to my methods in order to save the new entry
        fetch("/api/v1/add/", {
          method: "POST",
        	headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(newAnimal)
        }).then(res => res.json())
        	.then((json) => {
            let newAnimalSet;
          if (!newAnimal._id) { // adds a new item to array
            newAnimalSet = this.state.items;
            newAnimal._id = json._id;
            newAnimalSet.push(newAnimal);
          } else { // update existing items 
            newAnimalSet = this.state.items.map((item) => {
              if (item._id === newAnimal._id) {
                item = newAnimal; 
              }
              return item;
            });        
          }
  
          // Update state with new array
          this.setState({items: newAnimalSet});
        });
      }
      
      // Handles deleting items
      onDelete(){
        fetch("/api/v1/animal/delete/" + this.state.curItem.name).then((response) => {
          return response.json();
        }).then((results) => {
          // Filters all items except the one to be removed to properly reflect the current list
          const remainder = this.state.items.filter((item) => {
            return item.name !== name;
          });
          // Update state with new array
          this.setState({items: remainder});
        });
      }
      
      //renders what should appear on the page
      render() {
        return (
          <div>
            <Opener title ="Chelsea Jansens ITC230 Project"/>
            <Opener description =" My name is Chelsea.  I am a 25 year old programming student who will be graduating in Summer19 at Seattle Central College with a degree in Programming. I plan to get into video game development after graduation, or app software development. I have 2 cats and I am currently engaged."/>
            <List items={this.state.items} clickHandler={this.showDetails} />
            <Detail item={this.state.curItem} change={this.onChange} save={this.onSave} reset={this.onClear} delete={this.onDelete} />
          </div>
        );
      }
          
    }
    
    ReactDOM.render(<MyAnimals />, document.getElementById('root'));
   </script>
    </body>
</html>
